<%@title_page="Des exemples concrets"%>
<div class="content2">
  <div class="content2_entete">
      <h1 class="content2_texte">Préscolaire</h1>
  </div>
  <div class="content2_body">
  	<div class="content2_sub">
  		<h1>Premier cycle</h1>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_6_1">Sur la route de la lecture!</a></h3>
  	<p>École St-Michel</p>
  	<p><a href="javascript:displayWindow('exemple_6');">Commission scolaire des Trois-Lacs, Vaudreuil-Dorion</a></p>
    </div>
  	<div class="content_even">
  	<h3><a href="/exemple/exemple_5_1">«Je suis fini de faire des erreurs!»</a></h3>
  	<p>École St-Lambert Elementary</p>
  	<p><a href="javascript:displayWindow('exemple_5');">Commission scolaire Riverside, St-Lambert</a></p>
    </div>
  </div>
</div>

<div class="content2">
  <div class="content2_entete">
      <h1 class="content2_texte">Primaire</h1>
  </div>
  <div class="content2_body">
  	<div class="content2_sub">
  		<h1>Premier cycle</h1>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_3_1">Pour développer la compétence Se donner des méthodes de travail efficaces</a></h3>
  	<p>École St-Eugène</p>
  	<p><a href="javascript:displayWindow('exemple_3');">Commission scolaire de la Vallée-des-Tisserands, Beauharnois</a></p>
    </div>
  	<div class="content2_sub">
  		<h1>Deuxième cycle</h1>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_4_1">La différenciation pédagogique pour tous et chacun!</a></h3>
  	<p>École Richelieu (pavillon St-Joseph)</p>
  	<p><a href="javascript:displayWindow('exemple_4');">Commission scolaire des Hautes-Rivières, St-Jean-sur-Richelieu</a></p>
    </div>
  	<div class="content2_sub">
  		<h1>Troisième cycle</h1>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_2_1">Résolution de situations-problèmes mathématiques</a></h3>
  	<p>École St-Romuald</p>
  	<p><a href="javascript:displayWindow('exemple_2');">Commission scolaire du Val-des-Cerfs, Granby</a></p>
    </div>
  	<div class="content_even">
  	<h3><a href="/exemple/exemple_1_1">«Différencier en lecture, c'est possible!»</a></h3>
  	<p>École Adrien-Gamache</p>
  	<p><a href="javascript:displayWindow('exemple_1');">Commission scolaire Marie-Victorin, Longueuil</a></p>
    </div>
  	<div class="content_odd">
	  	<h3><a href="/exemple/exemple_8_1">Différencier pour les aider à raisonner à l’aide de concepts et de processus mathématiques!</a></h3>
	  	<p>École Roméo-Forbes</p>
	  	<p><a href="javascript:displayWindow('exemple_8');">Commission scolaire de St-Hyacinthe, St-Hyacinthe</a></p>
    </div>



  </div>
</div>

<div class="content2">
  <div class="content2_entete">
      <h1 class="content2_texte">Secondaire</h1>
  </div>
  <div class="content2_body">
  	<div class="content2_sub">
  		<h1>Premier cycle</h1>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_7_1">Différencier pour déployer son raisonnement mathématique au secondaire</a></h3>
  	<p>École Jacques-Rousseau</p>
  	<p><a href="javascript:displayWindow('exemple_7');">Commission scolaire Marie-Victorin, Longueuil</a></p>
    </div>
  	<div class="content_even">
  	<h3><a href="/exemple/exemple_9_1">«Différencier au secondaire, c’est possible!» : un exemple pour le développement des stratégies de lecture des élèves</a></h3>
  	<p>École Armand-Frappier</p>
  	<p><a href="javascript:displayWindow('exemple_9');">Commission scolaire des Grandes-Seigneuries, La Prairie</a></p>
    </div>
  	<div class="content_odd">
  	<h3><a href="/exemple/exemple_10_1">«Suis-je sur la bonne voie?» : une démarche pour développer des méthodes de travail efficaces</a></h3>
  	<p>École secondaire Bernard-Gariépy</p>
  	<p><a href="javascript:displayWindow('exemple_10');">Commission de scolaire Sorel-Tracy, Sorel-Tracy</a></p>
    </div>


  </div>
</div>


<!--  the following hidden div will be used by the script -->
<div id="exemple_1">
  <h1 class="div_flottant_titre">École Adrien-Gamache</h1>
  <h2 class="div_flottant_titre2">Commission scolaire Marie-Victorin, Longueuil</h2>
  <ul class="div_flottant">
  	<li>Carole Tremblay, enseignante</li>
	<li>Lucie Lefebvre, enseignante</li>
	<li>Isabelle Archambault, enseignante</li>
	<li>Line Soucy, enseignante</li>
	<li>Robert Racette, orthopédagogue</li>
	<li>France Blouin, conseillère pédagogique</li>
	<li>Céline-Desrochers, directrice d’école</li>
	<li>Claudine Couillard, directrice adjointe</li>
  </ul>
</div>
<div id="exemple_2">
  <h1 class="div_flottant_titre">École St-Romuald</h1>
  <h2 class="div_flottant_titre2">Commission scolaire du Val-des-Cerfs, Granby</h2>
  <ul class="div_flottant">
  	<li>Maryse Pépin, enseignante</li>
  	<li>Clémence Dubois, enseignante</li>
  	<li>Line Houde, enseignante</li>
  	<li>Isabelle Blanchette, enseignante</li>
  	<li>Ian Inglese, enseignant</li>
  	<li>Marie-France Choinière, conseillère pédagogique</li>
  	<li>Nathalie Leduc, conseillère pédagogique</li>
  	<li>Chantal L’Heureux, directrice d’école</li>
  </ul>
</div>
<div id="exemple_3">
  <h1 class="div_flottant_titre">École St-Eugène</h1>
  <h2 class="div_flottant_titre2">Commission scolaire de la Vallée-des-Tisserands, Beauharnois</h2>
  <ul class="div_flottant">
  	<li>Chantale Loisel, enseignante</li>
  	<li>Brigitte Hamel, enseignante</li>
  	<li>Martin Pilon, enseignant</li>
  	<li>Chantal Gauthier, orthopédagogue</li>
  	<li>Lynda St-Onge, conseillère pédagogique</li>
  	<li>Marie Bourbonnais, directrice d’école</li>
  </ul>
</div>
<div id="exemple_4">
  <h1 class="div_flottant_titre">École Richelieu (pavillon St-Joseph)</h1>
  <h2 class="div_flottant_titre2">Commission scolaire des Hautes-Rivières, St-Jean-sur-Richelieu</h2>
  <ul class="div_flottant">
  	<li>Francine Demers, enseignante</li>
  	<li>Charles Perrier, enseignant</li>
  	<li>Sylvie Charpentier, enseignante</li>
  	<li>Célina Cellard, orthopédagogue</li>
  	<li>Sylvie Lacroix, orthopédagogue et conseillère pédagogique</li>
  	<li>Brigitte Gagnon, conseillère pédagogique</li>
  	<li>Joceline Despins, directrice d’école</li>
  </ul>
</div>
<div id="exemple_5">
  <h1 class="div_flottant_titre">École St-Lambert Elementary</h1>
  <h2 class="div_flottant_titre2">Commission scolaire Riverside, St-Lambert</h2>
  <ul class="div_flottant">
  	<li>Danielle Gratton, enseignante au premier cycle</li>
  	<li>Ann Lajoie, enseignante au premier cycle</li>
  	<li>Claire Cournoyer, enseignante à la maternelle</li>
  	<li>Geneviève Lapointe, orthopédagogue</li>
  	<li>Valérie Bergeron, conseillère pédagogique en adaptation scolaire</li>
  	<li>Julie René de Cotret, conseillère pédagogique en adaptation scolaire et coordonnatrice des services complémentaires</li>
  	<li>Enzo Diloia. directeur d’école</li>
  </ul>
</div>
<div id="exemple_6">
  <h1 class="div_flottant_titre">École St-Michel</h1>
  <h2 class="div_flottant_titre2">Commission scolaire des Trois-Lacs, Vaudreuil-Dorion</h2>
  <ul class="div_flottant">
  	<li>Lili Therrien, enseignante</li>
  	<li>Michèle Boulais, enseignante</li>
  	<li>Claude Séguin, enseignante</li>
  	<li>Danielle Lemire, orthopédagogue</li>
  	<li>Guylaine Legault, conseillère pédagogique</li>
  	<li>Josette Langevin, directrice d’école</li>
  </ul>
</div>
<div id="exemple_7">
  <h1 class="div_flottant_titre">École Jacques-Rousseau</h1>
  <h2 class="div_flottant_titre2">Commission scolaire Marie-Victorin, Longueuil</h2>
  <ul class="div_flottant">
  	<li>Danielle Cloutier , enseignante</li>
	<li>Chantal Comeau, enseignante</li>
  	<li>Christine Marleau, conseillère pédagogique</li>
  	<li>Isabelle Vachon, conseillère pédagogique</li>
  	<li>Sylvie Cloutier, directrice adjointe</li>
    <li>Brigitte Savard, directrice adjointe</li>
  </ul>
</div>
<div id="exemple_8">
  <h1 class="div_flottant_titre">École Roméo-Forbes</h1>
  <h2 class="div_flottant_titre2">Commission scolaire de St-Hyacinthe, St-Hyacinthe</h2>
  <ul class="div_flottant">
  	<li>Richard Labonté, enseignant</li>
  	<li>Nathalie Gouveia, enseignante</li>
  	<li>Marie Isabelle, enseignante</li>
  	<li>Martine Lemonde, orthopédagogue</li>
  	<li>Caroline Germain, conseillère pédagogique</li>
  	<li>Claire Gagné,  directrice d’école</li>
  </ul>
</div>

<div id="exemple_9">
  <h1 class="div_flottant_titre">École Armand-Frappier</h1>
  <h2 class="div_flottant_titre2">Commission scolaire des Grandes-Seigneuries, La Prairie</h2>
  <ul class="div_flottant">
  	<li>Monique Depelteau, enseignante</li>
  	<li>Luce Godin, enseignante</li>
  	<li>Sylvie Labelle, orthopédagogue</li>
  	<li>Rachel Girard, conseillère pédagogique</li>
  	<li>Sophie Dufault, direction d’école</li>
  </ul>
</div>

<div id="exemple_10">
  <h1 class="div_flottant_titre">École Bernard-Gariépy</h1>
  <h2 class="div_flottant_titre2">Commission scolaire de Sorel-Tracy, Sorel-Tracy</h2>
  <ul class="div_flottant">
  	<li>Jo-Lynn Gauthier, enseignante</li>
  	<li>Marie-Kristine Payette, enseignante</li>
  	<li>Johanne Huot, enseignante</li>
  	<li>Denise Pontbriand, orthopédagogue</li>
  	<li>Gwenn Gauthier, conseillère pédagogique</li>
  	<li>Guy Houle, directeur adjoint</li>
  </ul>
</div>

