<div class="contact">
  <p>Si vous désirez en apprendre davantage sur la recherche-action sur la différenciation pédagogique en Montérégie ou sur l’un ou l’autre des exemples concrets qui en sont issus, contactez Marie-Hélène Guay à l’adresse suivante : <a href="mailto:mhelene.guay@cstrois-lacs.qc.ca">mhelene.guay@cstrois-lacs.qc.ca</a></p>
</div>